.graph-container {
  padding: 30px;
  max-width: 900px;
  margin: 0 auto;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.graph-title {
  text-align: left;
  font-size: 24px;
  color: #4F4F4F;
  font-weight: bold;
  margin-bottom: 20px;
}

.graph-display {
  margin-top: 30px;
}

.no-data-label {
  color: #555;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
}
