.graphContainer {
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    background-color: #f9f9f9;
  }
  
  .graphTitle {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .graphDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .graph-container-v2 {
    padding: 20px;
    max-width: 700px; 
    margin: 20px auto;
    background-color: #ffffff; 
    height: 500px !important;
  }